<ng-container *ngIf="uploadedFiles?.length; else noFilesUploaded">
  <article
    *ngFor="let file of uploadedFiles; let i = index"
    [attr.data-index]="i"
  >
    <eb-file-item
      [fileInfo]="file"
      [fileIndex]="i"
      (fileDelete)="onFileDelete($event)"
      (processFileData)="onProcessFileData($event)"
      (requestReportDownload)="onRequestReportDownload($event)"
    ></eb-file-item>
  </article>
</ng-container>

<!-- [ngTemplateOutlet]="outlet" [ngOutletContext]="context" -->
<ng-template #noFilesUploaded>
  <mat-icon>report_gmailerrorred</mat-icon>
  Please upload a file to get started!
</ng-template>
